.cityBox {
    box-sizing: border-box;
    border: 4px solid black;
    width: initial;
    text-align: left;
    display: table;
    padding: 2vw;
    height: 24vw;
    width: 64vw;
    margin-bottom: 2vh;
    max-width:40vw;
    
}